<h1 class="title">SIGN UP</h1>
<div class="form-container mat-elevation-z16">
    <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name="username" ngModel>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" type="email" ngModel>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" type="password" ngModel>
        </mat-form-field>
        <button mat-raised-button type="submit" class="submitBtn">Sign up</button>
    </form>
</div>
<p class="question">already have an account? <a routerLink="/login">Login</a></p>
