.content{
    display: flex;
    align-items: center;
    margin-top: 25vh;
    margin-left: 10vh;
    max-width: 600px;
    float: left;
    flex-direction: column;
}
.mainImg{
    margin-top: 10vh;
}
.startButton:hover{
    transform: scale(1.05);
}