<!--Navbar-->
<mat-toolbar color="primary">
  <div>
      <a routerLink="/" style="color: white;"><mat-icon aria-label="Example home icon" fontIcon="home"></mat-icon></a>
      <button mat-button>About us</button>
    <button mat-button>Contacts</button>
  </div>
  <div class="buttons" *ngIf="!isLogged; else loggedInTemplate">
    <button mat-button routerLink="sign-up">
      <mat-icon>person_add</mat-icon>
      Sign up
    </button>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Log in
    </button>
  </div>
  <ng-template #loggedInTemplate>
    <div>
      <button mat-button routerLink="desk">My desk</button>
      <a>
        <mat-icon [matMenuTriggerFor]="menu" style="font-size: 25px;" >account_circle</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="seeProfile()">
          Profile
        </button>
        <button mat-menu-item (click)="onLogout()">
          log out
        </button>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>
<!--Page content-->
<div class="content">
  <router-outlet></router-outlet>
</div>