.banner{
    width: 100%;
    height: 50vh;
}
.desk-title{
    text-align: center;
    font-size: 100px;
    margin-top: 5vh;
}
.create-project-btn{
    margin-bottom: 5vh;
    margin-left: 5vh;
}
.cards{
    margin: auto;
}