<div class="img-container">
  <img src="account_circle.png" alt="Image not found">
</div>
<h1 class="username">{{nick}}</h1>
<div class="cards">
<!-- projects created card -->
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Projects created</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <span>{{nProjects}}</span>
  </mat-card-content>
</mat-card>
<!-- all tasks created -->
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Tasks created</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <span>{{nTasksCreated}}</span>
  </mat-card-content>
</mat-card>
<!-- completed tasks -->
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Tasks completed</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <span>{{nTasksCompleted}}</span>
  </mat-card-content>
</mat-card>
</div>

