.img-container{
    display: flex;
    justify-content: center;
}
.img-container img{
    width: 200px;
    height: 200px;
}
.username{
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center; /* This centers the child elements horizontally */
    gap: 5vh; /* Adds some space between the cards */
}
  
mat-card{
    background-color: white;
    width: 205px;
    float: left;
}
mat-card-content,mat-card-title{
    text-align: center;
}
